/* BULMA OVERRIDE */

.columns:not(:last-child) {
    /*margin-bottom: 0*/
}

.columns:last-child {
    /*margin-bottom: calc(1.5rem - .75rem)*/
}


.calc-wrap {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

div[class*="field-"], .button {
    font-size: 12px;
    font-weight: 500;
    color: #666;
}

.input {
    font-size: 20px;
    text-align: right;
}

.column:nth-child(1) {
    background: hsl(0, 0%, 97.5%);
}

.column:not(:first-child),
.results .column:nth-child(2) {
    text-align: center;
}

.field-results .expression {
    overflow: hidden;
}

.field-results {
    cursor: pointer;
}

.results .column:nth-child(3) {
    text-align: right;
}

.btn button {
    width: 100%;
    height: 100%;
}

.header {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,0.05);
    color: #666;
}

.header p {
    font-size: 1em;
}

.field-results {
    padding: 15px;
    height: 140px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.scrollable {
    overflow: scroll;
    overflow-x: hidden;
}

.floatbot {
    position: relative;
}

.field-results .results:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,1);
}

.field-input {
    height: 100px;
}

.field-input .input {
    resize: none;
}

.field-input .input,
.field-input .control {
    height: 100%;
}

.field-buttons {
    /*height: 150px;*/
}